div[data-role="page"] {
  top: 0; 
  left: 0; 
  width: 100%; 
  min-height: 100%; 
  position: absolute; 
  display: none; 
  overflow: hidden;
  border: 0;
}

div[data-role="page"].ui-page-active { 
  display: block; 
}